

body {
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal en todo el cuerpo */
}

.banner {
    position: absolute;
    top: 0 ;
    left: 0 ;
    background-image: url('laptop.avif');
    background-size: cover;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 70vh; /* La mitad de la altura de la pantalla */
}

.logo {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según tus necesidades */
    left: 25%; /* Ajusta la posición horizontal según tus necesidades */
}

.logo img {
    width: 100px; /* Tamaño del logo */
    height: 100px;
    border-radius: 50%; /* Hace que el logo tenga forma circular */
}

.barras {
    position: absolute;
    top: 50px; /* Ajusta la posición vertical según tus necesidades */
    right: 15%; /* Ajusta la posición horizontal según tus necesidades */
    display: flex; /* Alinea los elementos internos en línea */
}

.navegacion {
    margin-right: 10px; /* Espacio entre elementos */
    color: white;
}

.contenido {
    position: relative;
    top: 40%;
   justify-content: center;


}


.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50%;

}
.titulo {
    display: flex; /* Utilizamos flexbox para alinear el contenido */
    justify-content: center; /* Centramos el contenido horizontalmente */
    align-items: center; /* Centramos el contenido verticalmente */
    height: 10px; /* Ajusta la altura según sea necesario */
}
.linea{position: absolute;
    top: 5%;
    left: 48%;
    justify-content: center;

}
.linea hr{
    width: 40px;

}
.titulo h1 {
    color: white; /* Color del texto */
    text-shadow: 0 0 10px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 20px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 30px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 40px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 50px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 75px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 100px #0000FF, /* Sombra de texto difuminada en azul oscuro */
                 0 0 150px #0000FF; /* Sombra de texto difuminada en azul oscuro */
}

.cont_1{position: absolute;
    top: 10%;
    left: 48%;
    justify-content: center;

}
.cont_1 hr{
    width: 40px;

}